.but{
    border-radius: 50%;
    height: 18px;
    width: 18px;
    left: 10px;
    top: 2px;
    border: none;
    outline: none;
    background-color: #777777;
    // background-image: url('../../assets/add.png');
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
}